$maxWidth: 1200;
@mixin adaptiv-property($property, $pcSize, $mobSize, $units) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 767px) {
    #{$property}: calc(#{$mobSize + $units} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }
  @media (min-width: 767px) {
    #{$property}: calc(#{$mobSize + $units} + #{$addSize} * (100vw / #{$maxWidth}));
  }
  @media (min-width: #{$maxWidth + px}) {
    #{$property}: #{$pcSize + $units};
  }
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background-color: transparent;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
* {
  -webkit-tap-highlight-color: transparent;
}
img {
  object-fit: cover;
}
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

$orange: rgb(254, 91, 12);
$blue: #10161d;

._container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}
body {
  font-family: Montserrat;
  &.hidden {
    overflow: hidden;
  }
}

.wrapper {
  overflow: hidden;
  padding-top: 40px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #1a1d36;
  .header__container {
    display: flex;
    justify-content: space-between;
    // min-height: 30px;
    // height: 60px;
    padding: 5px;
    align-items: center;
    position: relative;

    .header__logo {
      width: 30px;
      height: 30px;
      background-color: antiquewhite;
    }

    .burger-menu {
      width: 45px;
      height: 25px;
      position: relative;
      display: none;
      z-index: 10;
      cursor: pointer;
      transition: 0.3s;
      span {
        width: 100%;
        height: 4px;
        position: absolute;
        display: block;
        background-color: $orange;
        left: 0;
        transition: 0.3s;

        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 50%;
          transform: translate(0, -50%) scale(1);
        }
        &:nth-child(3) {
          bottom: 0;
        }
      }
      @media (max-width: 870px) {
        display: block;

        &.active {
          span:nth-child(1) {
            top: 50%;
            transform: translate(0, -50%) rotate(-45deg);
          }
          span:nth-child(2) {
            transform: translate(0, -50%) scale(0);
          }
          span:nth-child(3) {
            bottom: 50%;
            transform: translate(0, 50%) rotate(45deg);
          }
        }
      }
    }

    .header__nav {
      overflow: auto;
      .header-nav__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .header-nav__item {
          font-weight: 500;
          padding: 5px;
          &:not(:last-child) {
            padding-right: 20px;
          }
          &:last-child {
            .header-nav__link {
              background-color: $orange;
              padding: 10px 15px;
              color: #000;
              transition: 0.3s;
              display: inline-block;

              &.active {
                background-color: $orange;
                color: #000;
              }

              &:hover {
                background-color: #fff;
              }
            }
          }
          .header-nav__link {
            width: 100%;
            font-size: 16px;
            color: #fff;
            transition: 0.3s;

            &:hover,
            &.active {
              color: $orange;
            }
          }
        }
      }
      @media (max-width: 870px) {
        position: absolute;
        padding-top: 60px;
        top: 0;
        right: 0;
        transform: translate(100%, 0);
        width: 200px;
        height: 100vh;
        background-color: #86f729;
        z-index: 5;
        opacity: 0.3;
        transition: 0.6s;
        .header-nav__list {
          flex-direction: column;
          align-items: center;
          .header-nav__item {
            margin: 0 0 15px 0;
            display: inline;
            padding-right: 0 !important;
            text-align: center;
          }
        }
        &.active {
          transform: translate(0, 0);
          opacity: 0.93;
          .header-nav__list {
            opacity: 1;
          }
        }
      }
    }
  }
}

.h1Title {
  @include adaptiv-property('font-size', 45, 25, 'px');
  max-width: 776px;
  line-height: 1.3;
  font-weight: 600;
  color: #fff;

  span {
    color: $orange;
  }
}

.main {
  /* background-image: url('https://thumb.tildacdn.com/tild3537-3237-4537-b733-363864376364/-/format/webp/0001.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .main__container {
    @include adaptiv-property('padding-top', 100, 50, 'px');
    @include adaptiv-property('padding-bottom', 70, 20, 'px');
    .main__bg-image {
      max-width: 1600px;
      width: 100%;

      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: -5;
      text-align: center;
      height: 100%;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba(37, 37, 37, 0.4);
        z-index: 1;
      }
    }
    .main__content {
      .main-content__list {
      }
      .main-content__title {
        margin-bottom: 30px;
      }
      .main-content__subtitle {
        margin-bottom: 20px;
        @include adaptiv-property('font-size', 24, 16, 'px');
        color: #fff;
      }
      .main-content__characters {
        @include adaptiv-property('margin-bottom', 40, 20, 'px');
        .main-content-characters__item {
          display: flex;
          align-items: center;
          padding: 8px 0;
          @include adaptiv-property('font-size', 18, 14, 'px');
          color: #fff;
          &::before {
            width: 30px;
            height: 30px;
            display: inline-block;
            margin-right: 4px;
            background-size: 30px 30px;
            background-repeat: no-repeat;
          }
          &:nth-child(1) {
            &:before {
              content: '';
              background-image: url('https://static.tildacdn.com/tild6137-3166-4564-b932-306132636137/003.svg');
            }
          }
          &:nth-child(2) {
            &::before {
              content: '';
              background-image: url('https://static.tildacdn.com/tild3861-3032-4766-b564-316333336230/004.svg');
            }
          }
          &:nth-child(3) {
            &::before {
              content: '';
              background-image: url('https://static.tildacdn.com/tild3065-3931-4534-a438-613530643732/002.svg');
            }
          }
        }
      }
      .main-content__btns {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        & > *:not(:last-child) {
          margin-right: 25px;
          margin-bottom: 15px;
        }
        .main-content-btns__soc-network {
          & > *:not(:last-child) {
            margin-right: 10px;
          }
          a {
            img {
              width: 50px;
              height: 50px;
              // border-radius: 50%;
              transition: 0.2s;
            }

            &:hover {
              img {
                box-shadow: 0px 0px 10px 3px #000000;
              }
            }
          }
        }
      }
    }
  }
}

.getConsultate {
  padding: 15px 40px;
  background-color: $orange;
  color: #fff;
  box-shadow: 1px 1px 6px 0px rgb(255 255 255);
  border-radius: 30px;
  transition: 0.3s;

  &:hover {
    background-color: #fff;
    color: $orange;
    transform: translate(0, -2px);
    box-shadow: 1px 1px 6px 0px $orange;
  }
}

.using {
  background-color: #10161d;
  .using__container {
    @include adaptiv-property('padding-top', 60, 30, 'px');
    padding-bottom: 70px;
    padding: 45px;

    .using__content {
      .using__list {
        display: flex;
        /* flex-wrap: wrap; */
        position: relative;
        align-items: flex-start;

        &::before,
        &:after {
          content: '';
          display: block;
          width: 1px;
          height: 450px;
          background-color: #fff;
          position: absolute;
          left: -10px;
          top: -22px;
        }

        &:after {
          width: 1161px;
          height: 1px;
          top: -10px;
          left: -22px;
        }

        .using-list__image {
          img {
            width: 400px;
            height: 370px;
            object-fit: cover;
          }
          @media (max-width: 1200px) {
            &:nth-child(3) {
              display: none;
            }
          }
        }
        .using-list__content {
          padding: 10px;
          padding-top: 0;
          /* max-width: 370px; */
          width: 100%;
          max-height: 370px;
          overflow: auto;
          .using-list-content__title {
            color: #fff;
            text-align: center;
            padding-bottom: 20px;
            font-weight: 500;
            @include adaptiv-property('font-size', 22, 18, 'px');
          }
          .using-list-content__subtitle {
            color: #fff;
            font-weight: 400;
            line-height: 1.3;
            font-family: serif;
            @include adaptiv-property('font-size', 18, 14, 'px');
          }
        }
        @media (max-width: 805px) {
          flex-direction: column;
          .using-list__image {
            width: 100%;
            img {
              width: 80%;
              object-fit: cover;
              height: auto;
              @media (max-width: 479px) {
                width: 100%;
              }
            }
          }
          .using-list__content {
            width: 100%;
            max-width: none;
            padding: 0;
            .using-list-content__title {
              text-align: left;
              padding: 15px;
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}

.techDesc {
  .techDesc__container {
    .techDesc__list {
      display: grid;
      grid-gap: 20px;
      grid-template-areas:
        'smal1 smal2'
        'big big';
      .techDesc-list__item {
        position: relative;
        width: 100%;
        &:nth-child(1) {
          grid-area: smal1;
        }
        &:nth-child(2) {
          grid-area: smal2;
        }
        &:nth-child(3) {
          grid-area: big;
        }
        .techDesc-item__img {
          width: 100%;
          img {
            height: 320px;
            width: 100%;
            object-fit: cover;

            @media (max-width: 479px) {
              height: 250px;
            }
          }
        }
        .techDesc-item__content {
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 10px 15px;
          background-color: rgba(16, 22, 29, 0.35);
          max-width: 869px;
          height: 120px;
          overflow: auto;
          display: flex;
          flex-direction: column;
          align-items: start;
        }
        .techDesc-item__title {
          @include adaptiv-property('font-size', 24, 20, 'px');
          font-weight: 500;
          color: #fff;
          margin-bottom: 10px;
        }
        .techDesc-item__subtitle {
          color: #fff;
          font-weight: 400;
          font-size: 16px;
          flex: 1 1 auto;
        }
        .techDesc-item__btn {
          color: #adff02;
          margin-bottom: 10px;
        }
      }
      @media (max-width: 737px) {
        grid-template-areas:
          'smal1 smal1'
          'smal2 smal2'
          'big big';
      }
    }
  }
}

.adventages {
  background-color: #10161d;
  .adventages__container {
    @include adaptiv-property('padding-bottom', 40, 20, 'px');
    @include adaptiv-property('padding-top', 50, 20, 'px');
    .adventages__title {
      font-weight: 500;
      color: #fff;
      margin: 0 auto;
      @include adaptiv-property('margin-bottom', 100, 40, 'px');
      @include adaptiv-property('font-size', 30, 20, 'px');
      text-align: center;
    }
    .adventages__content {
      display: flex;
      align-items: center;
      justify-content: center;
      & > *:nth-child(1) {
        margin-right: 30px;
      }
      .adventages-content__img {
        max-width: 560px;
        width: 100%;
        object-fit: cover;
        img {
          width: 100%;
        }
      }
      .adventages-content__params {
        display: flex;
        flex-direction: column;
        & > *:not(:last-child) {
          margin-bottom: 30px;
        }
        .adventages-content__param {
        }
      }
      @media (max-width: 1200px) {
        flex-wrap: wrap;
        .adventages-content__params {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          .adventages-content__param {
          }
        }
        & > *:nth-child(1) {
          margin-right: 0 !important;
        }
      }
    }
  }
}

.adventage-param {
  max-width: 560px;
  width: 100%;
  display: flex;
  align-items: center;
  .adventage-param__img {
    @include adaptiv-property('margin-right', 30, 15, 'px');
    max-width: 120px;
    max-height: 120px;
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  .adventage-param__content {
    .adventage-param__title {
      color: $orange;
      font-weight: 600;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      @include adaptiv-property('font-size', 28, 18, 'px');
      @include adaptiv-property('margin-bottom', 15, 10, 'px');
    }
    .adventage-param__subtitle {
      color: #fff;
    }
  }
  @media (max-width: 1200px) {
    flex-direction: column;
    max-width: 400px;
    padding: 5px;

    .adventage-param__img {
      max-width: 200px;
      max-height: 200px;
    }
    .adventage-param__content {
      .adventage-param__title {
        text-align: center;
        @include adaptiv-property('font-size', 24, 18, 'px');
      }
      .adventage-param__subtitle {
      }
    }
  }
}

.notFound {
  .notFound__container {
    .notFound__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include adaptiv-property('padding-top', 100, 30, 'px');
      .notFound-content__title {
        @include adaptiv-property('margin-bottom', 40, 10, 'px');
        @include adaptiv-property('font-size', 80, 30, 'px');
        font-weight: 600;
      }
      .notFound-content__subtitle {
        @include adaptiv-property('margin-bottom', 40, 10, 'px');
        @include adaptiv-property('font-size', 23, 18, 'px');
        text-align: center;
      }
      .notFound-content__btn {
        padding: 15px 25px;
        color: #fff;
        font-weight: 500;
        border-radius: 30px;
        background-color: #2979fb;
        @include adaptiv-property('font-size', 23, 18, 'px');

        transition: 0.3s;

        &:hover {
          background-color: #094cb7;
        }
      }
    }
  }
}

.stagesWork {
  background-color: #10161d;
  @include adaptiv-property('padding-bottom', 150, 40, 'px');
  .stagesWork__container {
    .stagesWork__title {
      @include adaptiv-property('font-size', 30, 24, 'px');
      @include adaptiv-property('margin-bottom', 50, 30, 'px');
      color: #fff;
      font-weight: 600;
      text-align: center;
    }
    .stagesWork__list {
      position: relative;
      .stagesWork__item {
      }
      &::before {
        content: '';
        width: 3px;
        display: block;
        position: absolute;
        height: 95%;
        top: 0;
        left: 32px;
        transform: translate(-50%, 0);
        background-color: $orange;
      }
      @media (max-width: 600px) {
        &::before {
          display: none;
        }
      }
    }
  }
}

.stagesWorkItem {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 50px;
  }

  .stagesWorkItem__img {
    padding: 8px;
    background-color: #fff;
    border-radius: 50%;
    border: 4px solid $orange;
    @include adaptiv-property('margin-right', 30, 5, 'px');
    position: relative;
    z-index: 5;
    width: 64px;
    height: 64px;
    img {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }
  .stagesWorkItem__content {
    /* max-height: 84px; */
    max-width: 900px;
    /* height: 84px; */
    display: flex;
    width: 100%;
    flex-direction: column;
    .stagesWorkItem__title {
      @include adaptiv-property('font-size', 20, 15, 'px');
      color: $orange;
      font-weight: 600;
      flex: 1 1 auto;
      margin-bottom: 8px;
    }
    .stagesWorkItem__subtitle {
      color: #fff;
      @include adaptiv-property('font-size', 16, 13, 'px');

      span,
      a,
      button {
        color: $orange;
        cursor: pointer;
      }
    }
  }
  @media (max-width: 600px) {
    flex-direction: column;

    .stagesWorkItem__img {
      width: 150px;
      height: 150px;
    }
    .stagesWorkItem__content {
      .stagesWorkItem__title {
        text-align: center;
        margin-top: 5px;
      }
    }
  }
}

.ourProducts {
  background-color: #10161d;
  .ourProducts__container {
    .ourProducts__title {
      @include adaptiv-property('font-size', 60, 20, 'px');
      color: #fff;
      font-weight: 500;
      text-align: center;
      &::after {
        content: '';
        display: block;
        height: 2.5px;
        width: 200px;
        text-align: center;
        margin: 0 auto;
        @include adaptiv-property('margin-top', 25, 8, 'px');
        @include adaptiv-property('margin-bottom', 25, 8, 'px');
        background-color: #a2311c;
      }
    }
    .ourProducts__content {
      .ourProducts-content__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .ourProducts__item {
          margin: 0 auto;
          max-width: 250px;
          width: 100%;
          .ourProducts-item__img {
            cursor: pointer;
            overflow: hidden;
            transform: scale(1);
            width: 250px;
            height: 250px;
            margin: 0 auto;
            text-align: center;

            img {
              object-fit: cover;
              transition: 0.3s;
              height: 100%;
              width: 100%;
              max-width: 250px;
              max-height: 250px;
            }
            &:hover {
              img {
                transform: scale(1.3);
                transition: 0.3s;
              }
            }
          }
          @media (max-width: 575px) {
            max-width: 300px;
            .ourProducts-item__img {
              max-width: 300px;
              max-height: 300px;
              img {
              }
            }
          }
          .ourProducts-item__title {
            margin-top: 10px;
            margin-bottom: 35px;
            font-weight: 500;
            @include adaptiv-property('font-size', 20, 15, 'px');
            color: #fff;
            text-align: center;
          }
        }
        @media (max-width: 840px) {
          grid-template-columns: 1fr 1fr;

          .ourProducts__item {
          }
        }
        @media (max-width: 575px) {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

.collection {
  background-color: $blue;
  .collection__container {
    .collection__title {
      @include adaptiv-property('font-size', 42, 18, 'px');
      color: $orange;
      margin: 0 auto;
      margin-bottom: 1em;
      font-weight: 500;
      text-align: center;
    }
    .collection__subtitle {
      max-width: 545px;
      text-align: center;
      @include adaptiv-property('font-size', 24, 16, 'px');
      color: #fff;
      margin: 0 auto;
      margin-bottom: 4em;
    }
    .collection__list {
      @include adaptiv-property('margin', 30, 5, 'px');
      .collection__item {
        display: flex;
        justify-content: center;
        &:not(:last-child) {
          @include adaptiv-property('margin-bottom', 10, 5, 'px');
        }
        .collection-item__img {
          @include adaptiv-property('margin', 10, 3, 'px');
          max-width: 300px;
          width: 100%;
          transition: 0.3s;
          cursor: pointer;
          img {
            max-width: 300px;
            max-height: 300px;
            width: 100%;
            height: 100%;
            transition: 0.3s;
          }
          &:hover {
            box-shadow: 0px 0px 10px 3px $orange;

            img {
              opacity: 0.6;
            }
          }
        }
        @media (max-width: 479px) {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

.consultation {
  background-color: rgb(73, 73, 73, 0.3);
  position: fixed;
  z-index: 105;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
  overflow: auto;

  opacity: 0;
  pointer-events: none;
  transition: 0.3s;

  &.active {
    opacity: 1;
    pointer-events: all;

    .consultation__container {
      transform: translate(0, 0);
    }
  }

  .consultation__container {
    background-color: #10161d;
    padding: 50px;
    max-width: 560px;
    width: 100%;
    padding: 0;
    color: #fff;
    transform: translate(0, 30%);
    transition: 0.3s;
    position: relative;

    .consultation__burger-menu {
      width: 40px;
      height: 40px;
      right: 0;
      top: 0;
      position: absolute;
      transition: 0.3s;
      cursor: pointer;
      &::before,
      &::after {
        content: '';
        background-color: $orange;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 3px;
        height: 100%;
        // transform: translate(-50%, -50%) rotate(45deg);
      }
      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      &:hover {
        background-color: rgb(96, 96, 96, 0.3);
      }
    }

    .consultation__img {
      img {
        width: 100%;
        height: 100%;
      }
    }
    .consultation__content {
      padding: 30px;
      .consultation__title {
        text-align: center;
        @include adaptiv-property('font-size', 24, 18, 'px');
        font-weight: 500;
        @include adaptiv-property('margin-bottom', 20, 8, 'px');
      }
      .consultation__subtitle {
        text-align: center;
        @include adaptiv-property('font-size', 16, 12, 'px');
        @include adaptiv-property('margin-bottom', 30, 8, 'px');
      }
      .consultation__input-area {
        margin-bottom: 20px;
        .input-area__error {
          color: red;
          margin-bottom: 8px;
          @include adaptiv-property('dont-size', 16, 6, 'px');
        }
        .input-area__title {
          margin-bottom: 10px;
        }
        .input-area__border {
          position: relative;
          .input-area__aviable {
            @include adaptiv-property('font-size', 14, 8, 'px');
            background-color: #cacaca;
            visibility: hidden;
            padding: 2.5px 8px;
            display: inline-block;
            border-radius: 10px;
            color: #242424;
            font-weight: 700;
            margin-bottom: 5px;
            position: absolute;
            bottom: 100%;
            right: 0;
            z-index: 2;

            &.active {
              visibility: visible;
            }

            span {
              display: inline-block;
              padding: 4px 3px;
              background-color: #fefefe;
              border-radius: 5px;
            }
          }
          .input-area__input {
            width: 100%;
            line-height: 1.33;
            padding: 15px 10px;
            background-color: transparent;
            border-radius: 10px;
            border: 1px solid $orange;
            appearance: none;
            color: #fff;
            @include adaptiv-property('font-size', 18, 14, 'px');
          }
        }
      }
      .consultation__btn {
        width: 100%;
        background-color: $orange;
        color: #fff;
        border-radius: 8px;
        @include adaptiv-property('padding', 20, 10, 'px');
      }
      .consultation__text {
        @include adaptiv-property('font-size', 16, 12, 'px');
        @include adaptiv-property('margin-top', 30, 5, 'px');
      }
    }
  }
  @media (max-width: 479px) {
    padding: 0;
  }
}

.usingTwoColumn {
  background-color: #10161d;
  padding: 30px 20px;
  .usingTwoColumn__container {
    display: flex;
    position: relative;
    color: #fff;
    align-items: center;

    & > *:nth-child(1) {
      margin-right: 20px;
    }

    &::before,
    &::after {
      content: '';
      background-color: #a9a9a9;
      position: absolute;
    }

    &::before {
      height: 2px;
      max-width: 1161px;
      width: 100%;
      left: -15px;
      top: -5px;
      padding-right: 5px;
    }
    &::after {
      max-height: 450px;
      height: 100%;
      width: 2px;
      left: -5px;
      top: -15px;
    }

    .usingTwoColumn__img {
      max-width: 532px;
      max-height: 418px;
      width: 100%;
      height: 100%;

      img {
        max-width: 532px;
        max-height: 418px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .usingTwoColumn__content {
      max-width: 560px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .usingTwoColumn__title {
        @include adaptiv-property('font-size', 24, 18, 'px');
        font-weight: 600;
        margin: 5px 0;
      }
      .usingTwoColumn__subtitle {
        @include adaptiv-property('font-size', 18, 14, 'px');
        @include adaptiv-property('margin-bottom', 15, 8, 'px');
        flex: 1 1 auto;
      }
    }
    @media (max-width: 1000px) {
      flex-direction: column;
      align-items: flex-start;

      & > * {
        margin-right: 0;
      }
    }
  }
}

.usuallyFlex {
  padding: 30px 0;
  background-color: #10161d;
  .usuallyFlex__container {
    color: #fff;
    .usuallyFlex__title {
      @include adaptiv-property('font-size', 30, 18, 'px');
      @include adaptiv-property('margin-bottom', 15, 8, 'px');
      font-weight: 700;
      text-align: center;
    }
    .usuallyFlex__flex {
      display: flex;
      align-items: center;

      & > *:nth-child(1) {
        @include adaptiv-property('margin-right', 20, 10, 'px');
      }
      .usuallyFlex-flex__content {
        @include adaptiv-property('font-size', 16, 12, 'px');
        max-width: 560px;
        width: 100%;
        .usuallyFlex__text {
          line-height: 1.3;
          @include adaptiv-property('margin-bottom', 50, 15, 'px');
        }
      }
      .usuallyFlex__img {
        img {
          max-width: 560px;
          max-height: 375px;
          width: 100%;
          height: 100%;
        }
      }
      @media (max-width: 1000px) {
        flex-direction: column;

        & > * {
          margin-right: 0;
        }

        .usuallyFlex-flex__content {
          order: 2;
        }
        .usuallyFlex__img {
          order: 1;
        }
      }
    }
  }
}

.ourWorks {
  background-color: $blue;
  .ourWorks__container {
    .ourWorks__title {
      margin: 0 auto;
      text-align: center;
      margin-bottom: 1em;
    }
    .ourWorks__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      & > * {
        margin-bottom: 20px;
        margin-right: 20px;

        @media (max-width: 479px) {
          margin-right: 0;
        }
      }
    }
  }
}

.card {
  border-radius: 15px;
  transition: 0.3s;
  .card__image {
    width: 300px;
    height: 400px;
    border-radius: 15px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }
  }
  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 3px $orange;
  }
}

.fullOurWorksCard {
  background-color: $blue;
  .fullOurWorksCard__container {
    padding: 25px;
    .fullOurWorksCard__title {
      margin: 0 auto;
      text-align: center;
      margin-bottom: 0.5em;
    }
    .fullOurWorksCard__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .fullOurWorksCard__img {
        margin-bottom: 20px;
        margin-right: 20px;
        img {
          width: 400px;
          height: 400px;
        }
        @media (max-width: 479px) {
          margin-right: 0;
          border-radius: 8px;
          overflow: hidden;

          img {
            width: 310px;
            max-height: 400px;
          }
        }
      }
    }
  }
}

.fullCollection {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(182, 182, 182, 0.6);
  z-index: 200;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
  .fullCollection__container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .fullCollection__img {
      position: relative;
      .fullCollection__cross {
        position: absolute;
        top: 30px;
        right: 30px;
        // width: 60px;
        // height: 60px;
        @include adaptiv-property('width', 60, 30, 'px');
        @include adaptiv-property('height', 60, 30, 'px');
        outline: 5px solid rgba(200, 200, 200, 0.7);
        transition: 0.3s;
        cursor: pointer;
        padding: 20px;
        background-color: rgba(200, 200, 200, 0.7);

        &::before,
        &::after {
          content: '';
          background-color: #f66e14;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%) rotate(45deg);
          width: 100%;
          height: 5px;
          display: block;
          border-radius: 2px;
        }
        &::after {
          transform: rotate(-45deg);
        }
        &:hover {
          background-color: rgba(146, 146, 146, 0.5);
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
